@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Droid Serif'; }

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
  line-height: 0.8em;
}

a {
  color: rgb(249, 38, 114);
  text-decoration: none;
}

.strong {
  font-weight: 700;
}

.large-image img {
  width: 750px;
}

.small-image img {
  width: 400px;
}

.italic {
  font-style: italic;
}

.left-column {
  width: 30%;
  height: 92%;
  float: left;
  padding-top: 15%;
}

.right-column {
  width: 65%;
  float: right;
  padding-top: 13%;
}
